@import '~pretty-checkbox/src/pretty-checkbox.scss';

* {
  margin: 0;
  padding: 0;
}

:root {
  --corDaLetra: #ffbdc9;
  --corDaBorda: var(--corDaLetra)
}

.main {
  background: linear-gradient(to bottom, #854246e0, #452225);
  font-family: Anuphan, sans-serif;
  min-height: 100vh;
  text-align: center;
  font-weight: 900;
}

.tunes {
  color: #ffbdc9;
  font-size: 5rem;
  padding: 2rem 0 2rem;
}

.page-login {

  padding: 4rem 0;
}

.tunesHeader {
  color: #452225;
  font-size: 2rem;
  padding: 1rem 0 1rem;
}

.cadastro {
  color: #ffbdc9;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.name {
  padding: 1rem;
}

.inputs {
  display: grid;
}

.formLogin {
  line-height: 5;
  align-items: center;
  display: flex;
  justify-content: center;
}

.pageLogin {
  padding: 11vh 0;
}

input {
  text-align: center;
}

.css-1ff8729-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid #452225 !important;
}

.btnLogin {
  margin: 0 auto;
  border-radius: 2rem;
  padding: 0.8rem 5rem;
  color: #251811;
}

.btn {
  background: linear-gradient(to bottom, #d89b9f, #ffbdc9);
  border-color: #754150;
  border-radius: 0.8rem;
  color: #754150;
  display: block;
  font-family: Open Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.btnSearch {
  align-items: center;
  border: none;
  bottom: unset;
  cursor: pointer;
  padding: 1rem;
  background: none;
}

.look {
  padding: 0.5rem 1rem;
}

header {
  align-items: center;
  background: linear-gradient(to bottom, #d89b9f, #ffbdc9);
  display: flex;
  justify-content: space-between;
}

.linkAll {
  color: #413732;
  text-decoration: none;
}

.linkMusic {
  color: #382419;
  font-weight: 800;
}

.linkProfile {
  font-size: 1rem;
  margin: 2rem auto;
  background: linear-gradient(to bottom, #b68487e3, #ffbdc9d2);
  border-color: #754150;
  border-radius: 0.2rem;
  padding: 0.5;
  color: #754150;
}

.linkExit {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: 900;
  color: #d16970;
  min-width: 100vw;

}

.pFav {
  padding: 4rem;
}

.albumName p,
.pFav {
  color: #251811;
  font-size: 1.5rem;
  font-weight: 900;
}

.name,
.nav li,
.music p {
  color: #382419;
  font-size: 1.3rem;
}

.resultArtist {
  margin-top: 1rem;
}

.resultArtist2 {
  margin-top: 1rem;
  color: #ffbdc9;
  display: flex;
  font-family: Anuphan, sans-serif;
  font-size: 1.3rem;
  padding-left: 40px;
}

.nav {
  margin: 0 auto;
  width: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav li {
  list-style: none;
}

.inputSearch {
  margin-top: 2rem;
}

.boxPlayer {
  display: flex;
  border-radius: 0.4rem;
  margin: 10px auto;
  width: 100%;
}

.album {
  align-items: center;
  background: linear-gradient(to bottom, #d89b9f, #ffbdc9);
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  margin: 2.6rem 2.6rem 0;
  padding-right: 2rem;
}

.album img {
  border-radius: 0.4rem 0 0 0.4rem;
}

.boxAlbum {
  padding-bottom: 1rem;
}

.music {
  display: flex;
  margin: 0 auto;
  width: 75%;
  align-items: center;
}

.music-box {
  padding-top: 2rem;
  margin: auto;
  width: 70%;
  border-radius: 25rem;
}

.albumName {
  padding: 3.5rem;
  line-height: 2;
}

.minhaImg {
  max-width: 50vh;
  border-radius: 100%;
  margin: 3rem;
}

.inputLogin {
  width: 35rem;
}

@media (max-width : 800px) {

  header {
    display: block;
  }

  .nav {
    width: 100%;
  }

  .name {
    display: none;
  }

  .nav li {
    color: #382419;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 0;
    padding-top: 1.5rem;
  }
}