* {
  margin: 0;
  padding: 0;
}

.main {
  background: linear-gradient(to bottom, #85424685, #452225);
  font-family: Anuphan , sans-serif;
  min-height: 100vh;
  text-align: center;
  font-weight: 900;
}

.login {
  color: #ffbdc9;
  font-size: 5rem;
  padding: 1rem 0 1rem;
}
.tunes {
  color: #8d7478;
  font-size: 2.5rem;
  padding: 1rem 0 1rem;
}
.cadastro {
  color: #ffbdc9;
  font-size: 1.5rem;
  padding: 0.1rem;
}
.name {
  width: 10rem;
}
.page-login {

  /* width: 100%;
    height: 100%; */

  /* background: linear-gradient(to bottom, #fab894c9, #b27453ea); */
  padding: 4rem 0;

  /* justify-self: center; */
}


.inputs {
  display: grid;
}

.formLogin {
  line-height: 5;

  /* background: linear-gradient(to bottom, #fab894c9, #b27453ea); */

  /* align-items: center;
    display: flex; */

  /* justify-self: center; */
}

input {
  background-color: #ffe4d5c0;
  border-color: #d16970;
  border-radius: 0.5rem;
  padding: 1rem 7rem;
  text-align: center;
}

input:focus {
  background-color: #ffe4d5c0;
  outline: none;
}

.btnLogin {
  border-radius: 2rem;
  margin: 2.5rem auto;
  padding: 0.8rem 5rem;
}

.btn {
  background: linear-gradient(to bottom, #d89b9f, #ffbdc9);
  border-color: #754150;
  border-radius: 0.8rem;
  color: #754150;
  display: block;
  font-family: Open Sans , Helvetica Neue , sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.btnSearch {
  margin: 1rem auto;
  pointer-events: stroke;
}

.look {
  padding: 0.5rem 1rem;
}

header {
  padding: 0 2rem;
  align-items: center;
  background: linear-gradient(to bottom, #d89b9f, #ffbdc9);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.linkAll {
  color: #413732;
  text-decoration: none;
}

.linkMusic {
  color: #382419;
  font-weight: 800;
}

.linkProfile {
  font-size: 1rem;
  margin: 2rem auto;
  background: linear-gradient(to bottom, #b68487e3, #ffbdc9d2);
  border-color: #754150;
  border-radius: 0.2rem;
  padding: 0.5;
  color: #754150;
}

.linkExit {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: 900;
  color: #d16970;
  min-width: 100vw;

}
.pFav {
  padding: 2rem 0 0;
}
.albumName p, .pFav {
  color: #251811;
  font-size: 1.5rem;
  font-weight: 900;
}

.name, .nav li, .music p {
  color: #382419;
  font-size: 1.3rem;
}

.resultArtist2 {
  color: #ffbdc9;
  display: flex;
  font-family: Anuphan , sans-serif;
  font-size: 1.3rem;
  padding-left: 40px;
}

.nav {
  margin: 0 auto;
  width: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav li {
  list-style: none;
}

.inputSearch {
  margin-top: 2rem;
}

.album {
  align-items: center;
  background: linear-gradient(to bottom, #d89b9f, #ffbdc9);
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  margin: 2.6rem 2.6rem 0;
  padding-right: 2rem;

  /* border-style: inset; */

  /* border-color: #c9876342; */
}

.album img {
  border-radius: 0.4rem 0 0 0.4rem;
}

.boxAlbum {
  padding-bottom: 1rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0 , 'wght' 400 , 'GRAD' 0 , 'opsz' 48;
}
.check {
  position: absolute;
}
.heart {
  position: relative;
  bottom: 0.7rem;
}
.music {
  margin: 0 auto;
  width: 75%;
  line-height: 5;
}

.music-box {
  padding-top: 2rem;
  margin: auto;
  width: 70%;
  /* background: linear-gradient(to bottom, #997f7f7c, #998282); */
  border-radius: 25rem;
}
audio {
  width: 100%;
}
.albumName {
  padding-top: 1rem;
  line-height: 2;
}
.minhaImg {
  max-width: 50vh;
  border-radius: 100%;
  margin: 3rem;
}
.inputLogin {
  width: 35rem;
}

@media ( max-width : 800px ) {

  header {
    display: block;
  }

  .nav {
    width: 100%;
  }

  .name {
    display: none;
  }
  .nav li {
    color: #382419;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 0;
    padding-top: 1.5rem;
  }
}
